/* a{
    text-decoration: none;
    color: black;
    padding: 3%;
} */

.card{
    transition: transform 0.3s; 
}
.card:hover{
    transform: scale(1.05); 
      
}

body{
    margin: 0px;
    background-size: cover;
    /* background-image: url(https://cdn.pixabay.com/photo/2015/02/06/01/14/wallpaper-625623_1280.png); */
    
}

.container {
    --color1: rgb(0, 3, 49);
    --color2: rgb(248, 255, 182);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), 
                      linear-gradient(135deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 90px 90px;
    background-position: 0 0, 135px 135px;
  }



   .nav-link {
    transition: transform 0.3s;
  }
  
  .nav-link:hover {
    transform: scale(1.3); 
  }


 .footer-container {
    width: 100%;
    margin-bottom: -2.4%;
}




.redes{
    margin-right: 5%;
}
.redes a {
    color: rgb(255, 255, 255);
    padding: 20px;
} 

.logo-footer {
    margin-left: 20%;
}

.txt-footer {
    margin-left: 10%;
}

.nosotros2  a {
color: aqua;
margin: 0;
padding: 0;
}

.dietas{
display: flex;
flex-direction: row;
padding-left: 7%;
}

.dietasBoton{
    padding: 3%;
}

.titulo{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.tablaDietaEst {
    margin-left: 35%;
}

<<<<<<< Updated upstream
=======


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    
}

.macro{
    width: 300px;
}




>>>>>>> Stashed changes
#myCarousel{
    height: 300px;
    margin-bottom: 13%;
    margin-top: -0.05%;
}

.carousel-control-prev , .carousel-control-next {
    margin-top: 10%;
}