/* a{
    text-decoration: none;
    color: black;
    padding: 3%;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 25px;
}

.macro{
    width: 300px;
}
/* .test{
    background-color: rgba(197, 186, 186, 0.445);
} */

body{
    margin: 0px;
    background-size: cover;
    /* background-image: url(https://cdn.pixabay.com/photo/2015/02/06/01/14/wallpaper-625623_1280.png); */
}



   .nav-link {
    transition: transform 0.3s;
  }
  
  .nav-link:hover {
    transform: scale(1.3); 
  }


 .footer-container {
    width: 100%;
    margin-bottom: -2.4%;
}

.redes{
    margin-right: 5%;
}
.redes a {
    color: rgb(255, 255, 255);
    padding: 20px;
} 

.logo-footer {
    margin-left: 20%;
}

.txt-footer {
    margin-left: 10%;
}





.nosotros2  a {
color: aqua;
margin: 0;
padding: 0;
}

.dietas{
display: flex;
flex-direction: row;
padding-left: 7%;
}

.dietasBoton{
    padding: 3%;
}


.tablaDietaEst{
    margin: auto;
}



#myCarousel{
    height: 300px;
}


.bg-person {
    background-color: rgb(66, 172, 66);
    width: 100%;
}






