/* a{
    text-decoration: none;
    color: black;
    padding: 3%;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 25px;
}

.macro{
    width: 300px;
}
body{
    margin: 0px;
   }









footer {
    background-color: rgb(66, 172, 66);
    width: 100%;
    height: 75px;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    /* bottom: 0;
    position: fixed;      */
}

footer img {
    
    width: 80px;
    height: 40px; 
    margin-top: 18px;
  }

.texto-footer{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin-top: 30px;
}

.redes{
    margin-top: 33px;
}

.redes a {
    color: white;
    padding: 20px;
}

.nosotros2  a {
color: aqua;
margin: 0;
padding: 0;
}

.dietas{
display: flex;
flex-direction: row;
}
.dietasBoton img{
width: 50%;
}
















.menu {
    background-color: rgb(66, 172, 66);
    justify-content: end;
}

.menu nav ul {
    padding: 0;
    margin: 0;
    display: flex;    
}

.menu nav ul li {
    display: inline-block;
}

.menu nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.menu nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

